{% form_theme changePasswordForm theme %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(changePasswordForm) }} method="POST" class="fos_user_change_password">
    {{ form_widget(changePasswordForm) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
    <div>&nbsp;</div>
</form>
