{% extends "SonataAdminBundle::standard_layout.html.twig" %}

{% block page_header %}
    {% block errorMessage %}Oops! Something went wrong.{% endblock %}
{% endblock %}


{% block content %}
        <div class="row">
            <div class="span15">
                You can <a href="mailto:haggertypat@gmail.com">contact us directly</a> about this error, or <a href="{{ path('adminHelp') }}">submit an error report</a>.
                
                <div class="actions">
                    <a class="btn large success" id="home" href="{{ path('adminHome') }}">Home</a>
                    <a class="btn large danger" id="home" href="{{ path('adminHelp') }}">Submit Error Report</a>
                    <a class="btn large primary" id="help" href="{{ path('adminHelp') }}">Help</a>
                </div>
            </div>
        </div>
{% endblock %}