<div class="alert-message info block-message">A "Program" is a program, event, outreach effort in which first contacts with Leads were made.  When adding Leads, you can select which program the Lead was found through.</div>
  
  