
    <div style="width: 100%; margin: 5px 0 15px 0; text-align: right;">
        <a class="btn primary" href="{{ LeadAdmin.generateUrl('list', {'filter[Program][value]':object.id}) }}">
            View Leads from this Program
        </a>
    </div>
