<div style="margin: 5px 0 20px 150px;">
{% if object.filename is defined and object.filename != "" %}
    Current:
    <img style="width: 200px; margin: 0 0 0 10px;" src="{{ asset('images/Portals/' ~ object.filename) }}" />
{% endif %}
</div>