{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    {% if object.url %}
        <a href="{{ object.url }}" target="_blank">{{ object.url }}</a>
    {% endif %}
{% endblock %}