{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        <a href="{{ admin.generateUrl('show', {'id': object.id}) }}">{{ object.description }}</a>
   </div>
{% endblock %}