{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
        {% if object.eventType %}
            {{ object.eventType }}
        {% elseif object.eventTypeOther %}
            {{ object.eventTypeOther }}
        {% endif %}
   </div>
{% endblock %}