<div class="alert-message info block-message">
    A Lead Event usually represents an instance of contact with a Lead, such as a phone call.  A Lead Event could also indicate the date that a Lead got an assessment or upgrade.
</div>
  
  