<h2 style="text-align: right;">
{{ object }} has
    {% if object.LeadEvents|length > 0 %}
        <a href="{{ LeadEventAdmin.generateUrl('list', {'filter[firstName][value]':object.firstName, 'filter[lastName][value]':object.lastName}) }}">
    {% endif %}
{{ object.LeadEvents|length }}  event{% if object.LeadEvents|length != 1 %}s{% endif %} &rarr;
    {% if object.LeadEvents|length > 0 %}
        </a>
    {% endif %}
</h2>