<div style="margin: 5px 0 20px 150px;">
{% if object.mainLogoFilename is defined and object.mainLogoFilename != "" %}
    Current Logo:
    <img style="width: 200px; margin: 0 0 0 10px;" src="{{ asset('images/Portals/' ~ object.mainLogoFilename) }}" />
{% endif %}
</div>