{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field%}
    {% if object.mainLogoUrl %}
        <a href="{{ object.mainLogoUrl }}" target="_blank">{{ object.mainLogoUrl }}</a>
    {% endif %}
{% endblock %}