<a href="{{ admin.generateUrl('approve', {'user_id': admin.id(object)}) }}" class="add_link" title="Approve User">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/accept.png') }}" alt="Approve User" />
</a>