<a href="{{ admin.generateUrl('demote', {'user_id': admin.id(object)}) }}" class="add_link" title="Demote User">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/arrow_down.png') }}" alt="Demote User" />
</a>