<a href="{{ admin.generateUrl('promote', {'user_id': admin.id(object)}) }}" class="add_link" title="Promote User">
    <img src="{{ asset('bundles/sonataadmin/famfamfam/arrow_up.png') }}" alt="Promote User" />
</a>