<div class="sonata-ba-view">
<a class="btn primary pull-right" href="{{ LeadAdmin.generateUrl('list', {'filter[userAssignedTo][value]':object.id, 'filter[dataCounty][value]' : ""}) }}">
    View {{ object }}'s Leads
</a>
</div>